<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Fintech Project</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom_css.css">
</head>
<body>

    <div class="container-fluid m-0 p-0">

        <header class="">
            <a class="text-white" href="">INICIO</a>
            <a class="text-white" href="">EXPERIENCIA</a>
            <a class="text-white" href="">TRABAJOS</a>
            <a class="text-white" href="">CONTACTO</a>
        </header>

        <div class="hero">
            <h1 class="typed-title">Adrian Alarcon</h1>
            <p class="text-white">DESARROLLADOR FULLSTACK</p>
            <p class="text-white descripcion-p2">Bienvenido a mi CV online, es un placer tenerte de visita por aqui</p>
            <button>Mis Skills</button>
        </div>


    </div>

    <!-- BOOTSTRAP -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>